<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crea/Modifica tu rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item (click)="deployCreate()">
        ¿Que tipo de rutina quieres crear?
        <ion-icon slot="end" name="arrow-down-outline" *ngIf="create==false"></ion-icon>
        <ion-icon slot="end" name="arrow-up-outline" *ngIf="create==true"></ion-icon>
      </ion-item>
      <ion-item *ngIf="create==true" routerLink="/createexercices">
        Rutina de ejercicios
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item *ngIf="create==true">
        Rutina diaria
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item *ngIf="create==true">
        Rutina general
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-item (click)="deployModify()">
        ¿Que tipo de rutina quieres modificar?
        <ion-icon slot="end" name="arrow-down-outline" *ngIf="modify==false"></ion-icon>
        <ion-icon slot="end" name="arrow-up-outline" *ngIf="modify==true"></ion-icon>
      </ion-item>
      <ion-item *ngIf="modify==true">
        Rutina de ejercicios
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item *ngIf="modify==true">
        Rutina diaria
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item *ngIf="modify==true">
        Rutina general
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
