<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-input placeholder="Nombre"></ion-input>
  </ion-card>
  <ion-card>
    <ion-input placeholder="Nª de series"></ion-input>
  </ion-card>
  <ion-card>
    <p>Modo del ejercicio: </p>
    <ion-list>
      <ion-radio-group value="biff">
        <ion-item (click)="timeChecked()">
          <ion-label>Por tiempo</ion-label>
          <ion-radio slot="start" value="time"></ion-radio>
        </ion-item>

        <ion-item (click)="repChecked()">
          <ion-label>Por repeticiones</ion-label>
          <ion-radio slot="start" value="repetitions"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="time==true">
    <ion-input placeholder="Indica los segundos"></ion-input>
  </ion-card>
  <ion-card *ngIf="rep==true">
    <ion-input placeholder="Nº de repeticiones"></ion-input>
  </ion-card>

  <ion-card>
    <ion-input placeholder="Segundos de descanso"></ion-input>
  </ion-card>

  <div>
    <ion-button>Añadir ejercicio</ion-button>
  </div>


</ion-content>
