ion-content {
    background: linear-gradient(180deg, rgb(38, 94, 167) 0%, rgba(73,180,181,1) 100%);
    color: white;
}
p {
    background-color: white;
}

ion-searchbar {
    margin-left: 10px;
    padding-left: 0;

}

.selected {
    background-color:rgb(133, 176, 233);
    color: white;
}

ion-icon {
    margin-left: 5%;
    margin-right: 5%;
}

#searchbar {
    margin: auto;
    flex-basis: 80%;
    width: 90%;
}

ion-card {
    border: 1px solid grey;
}

ion-item{
    --ion-background-color:rgb(221, 218, 218);
 }