<!-- Menú lateral -->
<ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu Fit</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Rutinas</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Alimentación</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Ayuda</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label routerLink="/home">Salir</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    
    <div class="ion-page" id="main-content">
      <!-- Header de la página -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Fitness App</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="body-app">
        <!-- Carrusel de continuar tu rutina -->
        <div>
          <h2>CONTINUA TU RUTINA DONDE LO HABIAS DEJADO</h2>
        </div>



        <!-- Carrusel de imagenes de ejercicios -->
        <div>
          <!-- Galeria de imagenes con un pequeño titulo y descripción -->
          <ion-slides [options]="autoSlide" (ionSlideTouchEnd)="slideChanged()">
            <ion-slide>
              <div class="slide1">
                <img src="./assets/imagenprueba.png"/>
                <h2>Crea tus propias rutinas</h2>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide1">
                <img src="./assets/imagenprueba.png"/>
                <h2>Planifica tus entrenamientos diarios</h2>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide1">
                <img src="./assets/imagenprueba.png"/>
                <h2>Personaliza los ejercicios a tu gusto</h2>
              </div>
            </ion-slide>
          </ion-slides>
        </div>

        <!-- Carrusel de imagenes de dietas -->
        <div>
          <!-- Galeria de imagenes con un pequeño titulo y descripción -->
          <ion-slides [options]="autoSlide" (ionSlideTouchEnd)="slideChanged2()">
            <ion-slide>
              <div class="slide1">
                <img src="./assets/imagenprueba.png"/>
                <h2>Explora los alimentos</h2>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide1">
                <img src="./assets/imagenprueba.png"/>
                <h2>Todo tipo de información alimenticia</h2>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide1">
                <img src="./assets/imagenprueba.png"/>
                <h2>Recetas faciles y asequibles</h2>
              </div>
            </ion-slide>
          </ion-slides>
        </div>

        


        <!-- Calculadora de masa muscular -->
        <div>
          <h2>CALCULADORA DE MASA MUSCULAR</h2>
        </div>

      </ion-content>



    </div>
</ion-app>
