<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Prueba: {{popUpInteract}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" (click)="alert()">Pop up</ion-button>
  <p>Ejercicios que seleccionaria el usuario para continuar si cancela el que ha dejado a medias</p>
  <p>Ejercicios que seleccionaria el usuario para continuar si cancela el que ha dejado a medias</p>
  <p>Ejercicios que seleccionaria el usuario para continuar si cancela el que ha dejado a medias</p>
  <p>Ejercicios que seleccionaria el usuario para continuar si cancela el que ha dejado a medias</p>
  <p>Ejercicios que seleccionaria el usuario para continuar si cancela el que ha dejado a medias</p>
  <p>Ejercicios que seleccionaria el usuario para continuar si cancela el que ha dejado a medias</p>
</ion-content>
