<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Rutina general</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Nombre de la rutina</h2>
  <ion-card>
    <ion-input></ion-input>
  </ion-card>
  
  
  <div>
    <ion-checkbox color="primary" unchecked slot="start"></ion-checkbox>
    <ion-label>Activar rutina</ion-label>
  </div>
  

  <div>
    <ion-button>
      Crear
    </ion-button>
  </div>
</ion-content>
