<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calculadora de peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formWeight">
    <ion-card>
      <ion-input type="text" formControlName="sexo" placeholder="Sexo"></ion-input>
    </ion-card>
  
    <ion-card>
      <ion-input type="number" formControlName="estatura" placeholder="Estatura"></ion-input>
    </ion-card>
  </form>
  
  <div>
    <ion-button (click)="calc()">Calcular</ion-button>
  </div>

  <ion-card class="card">Peso mínimo (kg): {{rangoM}}</ion-card>
  <ion-card class="card">Peso máximo (kg): {{rangoF}}</ion-card>

</ion-content>
