<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Username</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="./assets/adidas.jpg">
        </div>
      </div>
    </div>
  </div>

  <ion-card>
    <ion-item lines="none">
      <ion-label>Nombre:</ion-label>
    </ion-item>
    </ion-card>
    <ion-card>
    <ion-item lines="none">
      <ion-label>Apellidos:</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label>Correo:</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label>Fecha:</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label>Altura:</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label>Peso:</ion-label>
    </ion-item>
  </ion-card>


</ion-content>
