<ion-header>
  <ion-toolbar>
    <ion-title>Mini guia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- Contenedor de slides -->
  <ion-slides pager="true">

    <!-- Slide numero 1 -->
    <ion-slide>
      <div class="slide1">
        <h2>Imagen 1</h2>
        <h2>Crea tus rutinas</h2>
        <p>Crea y personaliza tus rutinas a tu gusto accediendo al apartado de rutinas, podrás acceder seleccionando cualquier imagen de la primera diapositiva de imagenes. </p>
      </div>
    </ion-slide>

    <!-- Slide numero 2 -->
    <ion-slide>
      <div class="slide2">
        <h2>Imagen 2</h2>
        <h2>Personaliza tus ejercicios</h2>
        <p>Personaliza los ejercicios a tu gusto, podrás crear todo tipo de ejercicios para cada rutina con la configuración que tú desees.</p>
      </div>
    </ion-slide>

    <!-- Slide numero 3 -->
    <ion-slide>
      <div class="slide3">
        <h2>Imagen 3</h2>
        <h2>Retoma la rutina donde lo habias dejado</h2>
        <p>Podrás continuar la rutina que hayas activado en cualquier momento seleccionando la opción de "Continuar rutina".</p>
      </div>
    </ion-slide>

    <!-- Slide numero 4 -->
    <ion-slide>
      <div class="slide4">
        <h2>Imagen 4</h2>
        <h2>No te olvides de nuestra sección de recetas</h2>
        <p>Accede a nuestra sección de recetas y hechale un ojo a la que más te guste, te ofrecemos todo tipo de recetas con las cuales tendrás una alimentación más sana y equilibrada.</p>
        <ion-button fill="clear" routerLink="/main" (click)="setMainPage()">Empezar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
