h2 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

div {
    text-align: center;
}

ion-input {
    text-align: center;
}

ion-card {
    border: 1px solid grey;
}